/*  
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Share Tech', sans-serif;
font-family: 'Expletus Sans', cursive;
font-family: 'Gayathri', sans-serif;
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Gugi', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Michroma', sans-serif;
*/
html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
}
.greenLine {
    width:100%;
    height: 1vh;
    background: #39E991;
}
header {
    background: #0d0d0d;
}
header video {
    width: 100%;
    height: 54vh;
}
nav {
    display: grid;
    height: 15vh;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    column-gap: 3vw;
    padding: 0 0 15px 0;
}
nav, #alinks {
    font-family: 'Share Tech', sans-serif;
    background: #0d0d0d;
    font-size: 2.3vw;
    color: white;
}
#alinks {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 3vw;
}
#alinks a {
    transition-duration: 0.3s;
    color: white;
    text-decoration: none;
    align-self: center;
}
#homeButton {
    display: grid;
    grid-template-columns: 0px 3.5vw;
    justify-items: center;
    align-self: stretch;
    transition-duration: 0.3s;
    text-decoration: none;
    color: white;
}
#homeButton p {
    background-color: #0d0d0d;
}
#homeButton img {
    width: 6.1vw;
    border: 1px solid #0d0d0d;
}
#homeButton, #alinks {
    transform: translateX(10px);
}
#homeButton:hover, #alinks a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: #39E991;
}
#gameButton {
    display: grid;
    grid-template-columns: 0px 8vw;
    justify-items: center;
    align-self: stretch;
    transition-duration: 0.3s;
    transform: translateX(5px);
}
#gameButton p {
    background-color: #0d0d0d;
}
#gameButton img {
    width: 6.1vw;
}
#gameButton:hover {
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: #39E991;
}
#aboutButton {
    display: grid;
    grid-template-columns: 0px 4vw;
    justify-items: center;
    align-self: stretch;
    transition-duration: 0.3s;
    transform: translateX(5px);
}
#aboutButton p {
    background-color: #0d0d0d;
}
#aboutButton img {
    width: 6.1vw;
}
#aboutButton:hover {
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: #39E991;
}
#contactLinkButton {
    display: grid;
    grid-template-columns: 0px 5vw;
    justify-items: center;
    align-self: stretch;
    transition-duration: 0.3s;
    transform: translateX(5px);
}
#contactLinkButton p {
    background-color: #0d0d0d;
}
#contactLinkButton img {
    width: 6.1vw;
}
#contactLinkButton:hover {
    transform: scale(1.1);
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: #39E991;
}
#ourGames {
    display: grid;
    justify-content: center;
    padding-bottom: 15vh;
}
.ourGames {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
}
#ourGames h2 {
    text-align: center;
    padding: 10vh;
    transform: translateX(1.8vw);
}
#alienLogo {
    transform: translate(-1vw, -6vh) rotate(15deg);
}
.gameCards {
    width: 23vw;
    height: 32.5vh;
    background: #0d0d0d;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.514);
    border-radius: 0.1em;
    font-family: 'Josefin Sans', sans-serif;
}
#gameGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10vh 3vw;
}
.cardBackground {
    background: #EFEFEF;
    display: grid;
    justify-items: center;
    padding: 3vh 1vw;
}
.cardBackground img {
    width: 19vw;
}
.textBox {
    font-size: 1vw;
    position: absolute;
    width: 18.5%;
    height: 12%;
    text-align: start;
    padding: 8vh 2vw 0vh 2vw;
    color: white;
    opacity: 0;
    transition-duration: 0.3s;
    transform: translate(-3%, -15%);
}
.textBox:hover {
    opacity: 1;
    background: rgba(12, 12, 12, 0.589);
}
.cardBottom {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    text-decoration-color: white;
    color: #FFFFFF;
}
.cardBottom:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    text-decoration: underline;
    text-decoration-color: #39E991;
}
.cardBottomMiddle p {
    font-size: 1.5vw;
    font-weight: bold;
}
#homeInfoSection {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Josefin Sans', sans-serif;
}
.infoSectionBox {
    width: 100%;
    padding: 12vh 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50% 50%;
}
.infoSectionBox h3 {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2.5vw;
}
.infoSectionBox p {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.3vw;
}
#infoBoxOne {
    background: url("images/Testplay\ PNG.png");
    color: white;
}
#infoBoxTwo {
    background-image: url("Images/Castle\ PNG.png");
}
#contactSection {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 10% 40% 40% 10%;
    row-gap: 6vh;
    column-gap: 4vw;
    padding-bottom: 15vh;
}
#contactOne {
    grid-area: 2 / 2 / 3 / 3;
}
#contactTwo {
    grid-area: 3 / 2 / 4 / 3;
}
#contactThree {
    grid-area: 2 / 3 / 4 / 4;    
}
#contactSection article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 5vh 5vh;
}
#contactSection article a {
    grid-area: 1 / 1 / 3 / 2;
    transform: translateY(1.5vh);
    transition-duration: 0.3s;
}
#contactSection article a:hover {
    transform: scale(1.1) translateX(0.2vw);
}
#contactSection article h4 {
    grid-area: 1 / 2 / 2 / 3;
}
#contactSection article p {
    grid-area: 2 / 2 / 3 / 3;
    width: 50%;
}
#contactTwo p, #contactTwo h4 {
    transform: translateX(1vw);
}
footer {
    display: grid;
    background: #0d0d0d;
    grid-template-columns: 20% 35% 45%;
}
footer article {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 3vw;
    grid-column: 3 / 4;
    align-content: center;
    transform: translateX(-10px);
}
footer img {
    width: 14vw;
    transform: translateX(2vw);
    padding-top: 3vh;
}
footer a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition-duration: 0.3s;
}
footer a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color: #39E991;
}
/* For Games Page */
#gameList {
    display: grid;
    grid-template-columns: 35% 5% 60%;
}
#gameList h2 {
    justify-self: end;
    align-self: center;
    grid-column: 1 / 2;
}
#gameList article {
    display: grid;
    justify-content: center;
    grid-column: 3 / 4;
    grid-template-columns: repeat(4, 12%);
    column-gap: 0vw;
}
.image_on {
    width: 7vw;
    transition-duration: 0.3s;
}
.image_off {
    width: 8vw;
    transform: translateY(6vh) scale(1.3);
    box-shadow: 0 4px 15px rgb(94, 94, 94);
    transition-duration: 0.3s;
}
.image_off, .gameSelect:hover .image_on{
    display: none;
    animation-duration: 0.3s;
    animation-name: fadeOut;
 }
 .image_on, .gameSelect:hover .image_off{
    display: initial;
    animation-duration: 0.3s;
    animation-name: fadeIn;
 }
 #gameHomeDesctription {
    display:grid;
    grid-template-columns: 26% 48% 26%;
    justify-content: center;
    text-align: center;
    padding: 15vh 0;
    background: #0d0d0d;
 }
 #gameHomeDesctription h2 {
    font-size: 2.5vw;
 }
 #gameHomeDesctription p {
     font-size: 1.3vw;
 }
 #gameHomeDesctription h2,  #gameHomeDesctription p {
    grid-column: 2 / 3;
    font-family: 'Montserrat', sans-serif;
    color: white;
 }
 .gameSections {
    height: 110vh;
    width: 100%;
 }
 #sociopiaGame {
    background-image: url("Images/Sspia-BannerBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 #sociopiaGame h1,  #sociopiaGame h2, #sociopiaGame h4, #sociopiaGame h5, #sociopiaGame h6 {
    font-family: 'Metal Mania', cursive;
    color: rgb(248, 219, 55);
    text-shadow: 2px 2px 2px rgb(32, 32, 32);
 }
 #sociopiaGame li, #sociopiaGame p {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #FFFFFF;
 }
 #sociopiaGame h1 {
    font-size: 7vw;
 }
 #sociopiaGame h2 {
    font-size: 3vw;
 }
 #sociopiaGame h4 {
    font-size: 2.5vw;
 }
 #sociopiaGame h5 {
     font-size: 1.25vw;
 }
 #sociopiaGridOne {
    display: grid;
    grid-template-rows: 0 27% 10%;
    text-align: center;
 }
 #sociopiaGridOne ul {
     text-align: left;
     padding: 0 10vw;
 }
 #sociopiaGridOne li {
     padding: 3vh 0;
     font-size: 1.5vw;
 }
 #sociopiaGridTwo {
    display: grid;
    grid-template-rows: 15% 35% 30%;
 }
 #sociopiaGridTwo p {
     padding-right: 15vw;
     font-size: 1.5vw;
 }
 #communityQuestGame {
    background-image: url("Images/CQ-BannerBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#cqOne { 
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-rows: 20px auto;
    text-align: end;
    transform: translateX(-10vw);
}
#cqTwo {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    align-self: end;
    transform: translateY(-8vh);
}
#cqThree {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    align-self: start;
    transform: translateY(-8vh);
}
#communityQuestGame h1, #communityQuestGame h2, #communityQuestGame h5 {
    font-family: 'Expletus Sans', cursive;
    color: rgb(255, 208, 0);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
}
#cqThree h2, #cqThree h5, #communityQuestGame h6 {
    font-family: 'Gayathri', sans-serif;
    color: rgb(255, 255, 255);
}
#communityQuestGame h1 { 
    font-size: 6vw;
}
#communityQuestGame h2 {
    font-size: 3.5vw;
}
#communityQuestGame p {
    font-size: 1.5vw;
    font-family: 'Gayathri', sans-serif;
    color: white;
    padding: 0 12vw;
}
#cqThree h2 {
    transform: translateY(4vh);
    font-size: 2.4vw;
}
#healthHuntGame {
    background-image: url("Images/HH-BannerBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gugi', cursive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70%;
    text-shadow: 0px 2px 7px rgb(129, 129, 129);
}
#hhGridOne {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.7vw;
    padding: 0 7vw;
    display: grid;
    row-gap: 3vh;
}
#hhGridOne ul {
    font-size: 1.5vw;
}
#hhGridTwo {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}
#hhGridTwo h1 {
    font-size: 5.5vw;
    color: rgb(54, 238, 9);
}
#makingTheRoundsGame {
    background: url("images/MTR-BannerBackground.svg");
    font-family: 'Michroma', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2% 25% 5% 68%;
}
#makingTheRoundsGame h1 {
    grid-area: 2 / 1 / 3 / 5;
    color: rgb(216, 216, 216);
    justify-self: center;
    font-size: 6vw;
    text-shadow: 0 2px 4px rgb(63, 63, 63);
}
#mtrGridOne {
    grid-area: 4 / 1 / 5 / 2;
    justify-self: center;
}
#mtrGridOne ul, #mtrGridTwo p {
    background: rgba(0, 0, 0, 0.404);
    font-size: 1.1vw;
    color: white;
    border-radius: 1em;
}
#mtrGridOne ul {
    margin: 0 9vw;
    padding: 6.5vh 2vw;
    transform: translateX(3em);
}
#mtrGridTwo p {
    margin: 0 17vw 0 0;
    padding: 4.5vh 2vw;
}
#mtrGridTwo {
    grid-area: 4 / 2 / 5 / 3;
}
#mtrGridTwo div {
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 7px rgb(63, 63, 63);
}
#keyCode, .submit {
    font-family: 'Josefin Sans', sans-serif;
    align-self: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition-duration: 0.1s;
}
.submit:hover {
    transform: scale(1.1);
    font-weight: bold;
}
#keycodeBox {
    display: grid;
    width: 260px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 1vw;
    row-gap: 0.5vh;
    text-align: center;
}
#keyCode {
    box-shadow: 2px 2px 7px rgb(105, 105, 105) inset;
    grid-area: 1 / 1 / 2 / 3;
}

#downloadPC {
    grid-area: 2 / 1 / 3 / 2;
}
#downloadMAC {
    grid-area: 2 / 2 / 3 / 3;
}
.submit, #submitTwo {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid rgb(26, 26, 26);
    box-shadow: 0 7px 7px rgb(95, 95, 95);
    background: linear-gradient(180deg, rgba(62,209,94,1) 0%, rgba(55,55,55,1) 100%);
}
#ourStory, #storyInfo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#ourStory h1 {
    font-size: 2.5vw;
    padding: 5vh;
}
#storyInfo {
    padding: 10vh 0;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background: #0d0d0d;
    color: white;
}
#storyInfo h3, #storyInfo p {
    grid-column: 2 / 3;
    font-size: 1.3rem;
}
#contactUs, #myContact {
    font-family: 'Montserrat', sans-serif;
}
#contactUs {
    text-align: center;
    padding: 5.8vh 0;
    font-size: 1.5vw;
}
#myContact {
    display: grid;
    background: #0d0d0d;
    justify-content: center;
    color: white;
}
#contactIntro {
    padding-top: 5vh;
    display: grid;
    grid-template-columns: 32% 38% 32%;
}
#contactIntro h3, #contactIntro p {
    grid-column: 2 / 3;
}
#contactIntro h3 {
    font-size: 1.5em;
}
#contactForm {
    display: grid;
    justify-self: center;
    row-gap: 3vh;
    padding: 10vh 0;
    color: white;
}
#contactForm article {
    display:grid;
    row-gap: 3vh;
}
#contactSectionOne {
    text-align: center;
}
#contactSectionOne select, textarea {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}
textarea {
    padding: 1vh 0 0 1vh;
}
#contactSectionOne select {
    padding: 2vh 2vw 2vh 1vw;
    font-weight: bold;
}
.twoItems {
    display: grid;
    grid-template-columns: 20% 80%;
}
.twoItems label {
    font-size: 1.5vw;
    justify-self: center;
    align-self: center;
}
.twoItems input {
    border-radius: 5px;
    padding: 2vh 1vw;
}
#submitTwo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0 7px 7px rgb(51, 51, 51);
}
#submitTwo:hover {
    text-decoration: underline;
    transform: translateY(-2px);
    box-shadow: 0 7px 7px rgb(54, 238, 9);
}
#toc {
    font-family: 'Montserrat', sans-serif;
}
#tocArticle {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
#tocSection {
    grid-column: 2 / 3;
}
#tocFooter {
    background: rgb(102, 102, 102);
    color: white;
    padding: 2vh 0;
    display: grid;
    justify-content: center;
}
#termsTitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5.8vh 0;
    font-size: 1.5vw;
}
#termsSection {
    background: #0d0d0d;
    padding: 15vh 0;
    color: white;
    border: 1px solid #0d0d0d;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    row-gap: 5vh;
}
.termsClass {
    grid-column: 2 / 3;
    font-family: 'Montserrat', sans-serif;
}
.termsClass a {
    color: white;
    transition-duration: 0.3s;
    text-decoration: none;
}
.termsClass a:hover {
    color: #39E991;
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 750px) {
    header video {
        width: 100%;
        height: 35vh;
    }
    nav {
        padding: 0;
    }
    nav, #alinks {
        font-size: 5vw;
    }
    #alinks {
        column-gap: 10vw;
    }
    #homeButton, #alinks {
        transform: translateX(0px);
    }
    #homeButton {
        grid-template-columns: 0px 10vw;
        align-self: center;
        justify-items: start;
    }
    #homeButton img {
        width: 12vw;
        transform: translateX(-4vw);
        z-index:0;
    }
    #homeButton p {
        z-index: 1;
    }
    #gameButton {
        transform: translateX(0px);
    }
    #gameButton {
        grid-template-columns: 4vw 18vw;
        align-self: center;
        justify-items: start;
    }
    #gameButton img {
        width: 12vw;
    }
    #aboutButton {
        transform: translateX(0px);
    }
    #aboutButton {
        grid-template-columns: 4vw 13vw;
        align-self: center;
        justify-items: start;
    }
    #aboutButton img {
        width: 12vw;
    }
    #contactLinkButton {
        transform: translateX(0px);
    }
    #contactLinkButton {
        grid-template-columns: 4vw 13vw;
        align-self: center;
        justify-items: start;
    }
    #contactLinkButton img {
        width: 12vw;
    }
    .ourGames {
        font-size: 6vw;
    }
    #ourGames {
        justify-items: start;
    }
    #ourGames h2 {
        text-align: center;
        padding: 8vh 0;
    }
    #alienLogo {
        transform: translate(0vw, -2vh) rotate(15deg);
        width: 10vw;
    }
    .gameCards {
        width: 70vw;
        height: 28vh;
    }
    #gameGrid {
        grid-template-rows: auto;
        grid-template-columns: 100%;
        gap: 10vh 0;
    }
    .cardBackground img {
        width: 60vw;
    }
    .textBox {
        font-size: 4.2vw;
        width: 65vw;
        height: 6%;
        text-align: start;
        padding: 2.5vh 1.3vw 6vh 2vw;
        transform: translate(0%, -15%);
        border-radius: 5px;
    }
    .cardBottom {
        justify-content: center;
        align-content: center;
    }
    .cardBottomMiddle p {
        font-size: 5vw;
    }
    #homeInfoSection {
        grid-template-columns: 1fr;
    }
    .infoSectionBox {
        padding: 12vh 0;
        grid-template-columns: 12.5% 75% 12.5%;
        grid-template-rows: 50% 50%;
    }
    .infoSectionBox h3 {
        font-size: 7vw;
    }
    .infoSectionBox p {
        font-size: 4vw;
    }
    #infoBoxOne, #infoBoxTwo {
        width: 100%;
    }
    #contactSection {
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 5% 30% 30% 30% 5%;
        row-gap: 6vh;
        column-gap: 0;
        padding-bottom: 30vh;
    }
    #contactOne {
        grid-area: 2 / 2 / 3 / 3;
    }
    #contactTwo {
        grid-area: 3 / 2 / 4 / 3;
    }
    #contactThree {
        grid-area: 4 / 2 / 5 / 3;
    }
    #contactSection article h4 {
        grid-area: 1 / 2 / 2 / 3;
        justify-self: center;
        text-align: center;
    }
    #contactSection article p {
        grid-area: 2 / 2 / 3 / 3;
        width: 63%;
        justify-self: center;
        text-align: start;
    }
    #contactOne p, #contactTwo p {
        font-size: 0.8em;
    } 
    #contactThree img {
        width: 60vw;
        justify-self: center;
    }
    #contactForm {
        padding: 10vh 5vw;
    }
    #contactUs {
        padding: 3vh 0;
    }
    #contactUs h1 {
        font-size: 8vw;
    }
    #ourStory h1 {
        padding: 3vh;
        font-size: 8vw;
    }
    #storyInfo {
        grid-template-columns: 10% 80% 10%;
        text-align: start;
    }
    footer {
        grid-template-columns: 40% 15% 45%;
    }
    footer article {
        display: grid;
        grid-template-columns: auto;
        row-gap: 2vh;
        grid-column: 3 / 4;
        align-content: center;
        justify-items: start;
    }
    footer article a {
        font-size: 0.8em;
    }
    footer img {
        grid-column: 1 / 2;
        width: 30vw;
        transform: translateX(5vw);
        padding: 2.5vh 0;
    }
    /*  Games section @media quiery  */
    #gameList article {
        display: none;
    }
    #gameList {
        display: grid;
        grid-template-columns: 100%;
    }
    #gameList h2 {
        justify-self: center;
        align-self: center;
        grid-column: 1 / 2;
        padding: 3vh;
        font-size: 8vw;
    }
    #gameHomeDesctription {
        grid-template-columns: 10% 80% 10%;
    }
    #gameHomeDesctription h2 {
        font-size: 4.5vw;
        text-align: start;
     }
     #gameHomeDesctription p {
         font-size: 4vw;
         text-align: start;
     }
     .gameSections {
        height: auto;
     }
#sociopiaGame {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
 }
 #sociopiaGame h1 {
    font-size: 18vw;
 }
 #sociopiaGame h2 {
    font-size: 6vw;
 }
 #sociopiaGame h4 {
    font-size: 5.5vw;
 }
 #sociopiaGame h5 {
     font-size: 3vw;
 }
 #sociopiaGame h6 {
     display: none;
 }
 #sociopiaGridOne {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 0% 30% 10%;
    text-align: center;
 }
 #sociopiaGridOne h4, #sociopiaGridOne h1, #sociopiaGridOne ul {
    grid-column: 2 / 3;
 }
 #sociopiaGridOne ul {
     text-align: left;
     padding: 0 0vw;
 }
 #sociopiaGridOne li {
     padding: 2.5vh 0;
     font-size: 4vw;
 }
 #sociopiaGridTwo {
    display: grid;
    grid-template-columns: 10% 80% 30%;
    grid-template-rows: 10% 40% 0%;
 }
 #sociopiaGridTwo h4 {
    grid-column: 2 / 3;
 }
 #sociopiaGridTwo p {
     padding-right: 0vw;
     font-size: 4vw;
     grid-column: 2 / 3;
 }
 #sociopiaGridTwo div {
    grid-column: 2 / 3;
 }
#communityQuestGame {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto;
}
#cqOne { 
    grid-column: 2 / 3;
    grid-row: auto;
    grid-template-rows: 0px auto;
    text-align: start;
    transform: translateX(0);
}
#cqTwo {
    grid-column: 2 / 3;
    grid-row: auto;
    align-self: start;
    transform: translateY(0);
}
#cqThree {
    grid-column: 2 / 3;
    grid-row: auto;
    align-self: start;
    transform: translateY(0);
}
#communityQuestGame h1 { 
    font-size: 15vw;
}
#communityQuestGame h2 {
    font-size: 3.8vw;
}
#communityQuestGame p {
    font-size: 4.5vw;
    font-family: 'Gayathri', sans-serif;
    color: white;
    padding: 0 12vw;
}
#cqThree h2 {
    transform: translateY(4vh);
    font-size: 10vw;
}
#healthHuntGame {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 30% 30%;
    background-image: url("Images/HH\ Banner\ 2.svg");
    row-gap: 8vh;
}
#hhGridOne {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 3vw;
    padding: 2vh 0vw;
    display: grid;
    row-gap: 0vh;
}
#hhGridOne ul {
    font-size: 3vw;
}
#hhGridTwo {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}
#hhGridTwo h1 {
    font-size: 13vw;
}
#makingTheRoundsGame {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 26% 15% 20%;
    row-gap: 5vh;
    background: rgb(26, 26, 26);
}
#makingTheRoundsGame h1 {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 12vw;
}
#mtrGridOne {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}
#mtrGridOne ul, #mtrGridTwo p {
    font-size: 3.5vw;
    color: white;
    border-radius: 1em;
    background: none;
}
#mtrGridOne ul {
    margin: 0 0vw;
    padding: 0vh 0vw;
    transform: translateX(0);
    list-style-type: none;
}
#mtrGridTwo p {
    margin: 0 0;
    padding: 0vh 0vw;
}
#mtrGridTwo {
    grid-area: 3 / 2 / 4 / 3;
}
#contactSectionOne {
    display: grid;
    row-gap: 2vh;
}
#contactIntro {
    padding-top: 5vh;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.twoItems label {
    font-size: 4.5vw;
    font-weight: bold;
    justify-self: start;
}
}